@font-face {
    font-family: "Raleway";
    src: url(/home/adam/Documents/static/Raleway-Regular.ttf) format('truetype');
     
    font-family: "Cabin";
    src: url(/home/adam/Documents/static/Cabin-Regular.ttf) format('truetype'); 
    

}

h1 {
    text-align: center;
    color: hsl(206, 26, 28);
    background-color: hsl(170, 5, 92);
    font-family: "Raleway", Helvetica, sans-serif;


}

h2 { 
    border-style: 2px solid gray;
    text-align: center;
    color: hsl(206, 26, 28);
    background-color: hsl(170, 5, 92);
    font-family: "Cabin"; Helvetica, sans-serif;

}

div { 
    

}

nav {
    text-decoration: overline;
    font-family: "Cabin"; Helvetica, sans-serif;
    color: hsl(206, 26, 28);
    background-color: hsl(170, 18, 82);
    

}



h3 {






}

p1 {





}

p2 { 




    
}