@font-face {
    font-family: 'Raleway';
    src: url('/home/adam/the_odin_project/family-website/fonts/Raleway-Light.ttf') format('truetype'), 
}
    @font-face {
    font-family: 'Cabin';
    src: url('/home/adam/the_odin_project/family-website/fonts/Cabin-Regular.ttf') format('truetype'); 
}

h1 {
    text-align: center;
    color: hsl(206, 26%, 28%);
    background-color: hsl(170, 5%, 92%);
    font-family: 'Raleway', Helvetica, sans-serif;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 20px;
    border: 2px solid gray;

}

h2 { 
    border-style: 2px solid gray;
    text-align: center;
    color: hsl(206, 26%, 28%);
    background-color: hsl(170, 5%, 92%);
    font-family: 'Cabin', Helvetica, sans-serif;
    padding-top: 20px;
    padding-bottom: 20px; 
    margin: 50px;
}

div { 
    

}

nav {
    text-decoration: overline;
    font-family: 'Cabin', Helvetica, sans-serif;
    color: hsl(206, 26%, 28%);
    background-color: hsl(170, 18%, 82%);
    

}



h3 {






}

p1 {





}

p2 { 




    
}